/* File: src/styles.scss */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background:  linear-gradient(135deg, #a8edea, #fed6e3);  /* A very light grey background */
  color: #333;
}

.main-content {
  max-width: 1200px; /* Limits the width of the main content */
  margin: 30px auto;   /* Centers the content and adds space from the header */
  padding: 0 20px;     /* Adds space on the left and right */
}

/* Simple styling for all buttons */
button, .button-link {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: #0056b3;
  }
}