<div class="home-container">
  <div class="hero-section">
    <h1>Find Your Next Experience</h1>
    <p>Discover live events, workshops, and concerts happening near you.</p>
    <a routerLink="/events" class="hero-button">Explore All Events</a>
  </div>

  <div class="upcoming-section">
    <h2></h2>
    <div class="event-grid" *ngIf="!isLoading">
      <div class="event-card" *ngFor="let event of upcomingEvents">
        <img [src]="event.imageUrl" alt="{{ event.title }}" class="card-image">
        <div class="card-content">
          <h2 class="card-title">{{ event.title }}</h2>
          <p class="card-details">{{ event.date | date: 'fullDate' }}</p>
        </div>
        <div class="card-actions">
          <a [routerLink]="['/events', event._id]" class="details-button">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>