<mat-toolbar color="primary">
  <a routerLink="/" class="logo">EventHub</a>
  <span class="spacer"></span>

  <!-- Show if NOT logged in -->
  <ng-container *ngIf="!isLoggedIn">
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </ng-container>

  <!-- Show if logged in -->
  <ng-container *ngIf="isLoggedIn">
    <a mat-button routerLink="/profile">My Profile</a>
    
    <!-- THIS IS THE NEW ADMIN BUTTON -->
    <!-- It will only show if 'isAdmin' is true -->
    <a mat-button routerLink="/admin" *ngIf="isAdmin">Admin Dashboard</a>
    
    <a mat-button (click)="onLogout()">Logout</a>
  </ng-container>
</mat-toolbar>
