<mat-toolbar color="primary">
  <a routerLink="/" class="logo">EventHub</a>
  <span class="spacer"></span>

  <ng-container *ngIf="!isLoggedIn">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </ng-container>

  <ng-container *ngIf="isLoggedIn">
    <a mat-button routerLink="/">Home</a>
    
    <a mat-button routerLink="/admin" *ngIf="isAdmin">Admin Dashboard</a>
    
    <a mat-button routerLink="/profile">My Profile</a>
    
    <a mat-button (click)="onLogout()">Logout</a>
  </ng-container>
</mat-toolbar>